---
import Layout from '../layouts/Layout.astro';
import { getPosts, getStartPage } from '../utils/sanity';
import { urlFor } from '../utils/image';
import { PortableText } from 'astro-portabletext';
import Card from '../components/Card.astro';
import Welcome from '../components/Welcome.astro';
import Slider from '../components/Slider.astro';
import FormProvider from '../components/FormProvider.tsx';
import ImageBlock from '../components/ImageBlock';
import TextBlock from '../components/TextBlock.astro';
import CenterTextBlock from '../components/CenterTextBlock.astro';
import PuffBlock from '../components/PuffBlock.astro';
import TextImageBlock from '../components/TextImageBlock.astro';

const posts = await getPosts();
const startPage = await getStartPage();
---

<Layout title="Antonia & Henrik">
	<!-- HERO -->
	<section class="mx-auto mb-16 mt-4 max-w-container text-center md:mt-20">
		<div class="mb-8">
			<h1 class="mb-2 mt-0 text-5xl font-bold md:text-6xl">{startPage?.title}</h1>
			<p class="text-2xl font-bold">{startPage?.subtitle}</p>
		</div>

		<Slider />
	</section>

	{
		startPage?.bodyArea && (
			<section class="mx-auto my-20 max-w-2xl">
				<div class="block-content text-pretty text-center [&>h2]:text-4xl md:[&>h2]:text-5xl [&>p]:text-xl md:[&>p]:text-2xl">
					<PortableText value={startPage?.bodyArea} />
				</div>
			</section>
		)
	}

	{
		startPage?.features && (
			<section class="mx-auto my-20 max-w-2xl">
				<div class="">
					{startPage.features.map((feature) => (
						<div class="text-center">
							{feature.title && <h3 class="text-3xl font-bold">{feature.title}</h3>}
							{feature.description && <PortableText value={feature?.description} />}
						</div>
					))}
				</div>
			</section>
		)
	}

	{
		startPage?.bodyArea2 && (
			<section class="mx-auto mb-8">
				<div class="block-content">
					<PortableText value={startPage?.bodyArea2} />
				</div>
			</section>
		)
	}

	{
		startPage?.blocks &&
			startPage.blocks.map((block) => {
				if (block._type == 'imageBlock') {
					return <ImageBlock block={block} />;
				} else if (block._type == 'textBlock') {
					return <TextBlock block={block} />;
				} else if (block._type == 'centerTextBlock') {
					return <CenterTextBlock block={block} />;
				} else if (block._type == 'puffBlock') {
					return <PuffBlock block={block} />;
				} else if (block._type == 'textImageBlock') {
					return <TextImageBlock block={block} />;
				}
			})
	}

	<FormProvider client:only="react" />

	<!-- <section>
		{posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />}
	</section> -->
</Layout>
