---
import Layout from '../layouts/Layout.astro';
import { getPosts, getStartPage } from '../utils/sanity';
import Slider from '../components/Slider.astro';
import FormProvider from '../components/FormProvider.tsx';
import ImageBlock from '../components/ImageBlock';
import TextBlock from '../components/TextBlock.astro';
import CenterTextBlock from '../components/CenterTextBlock.astro';
import PuffBlock from '../components/PuffBlock.astro';
import TextImageBlock from '../components/TextImageBlock.astro';

const startPage = await getStartPage();
---

<Layout>
	<!-- HERO -->
	<section class="mx-auto mt-4 max-w-container text-center md:mt-32">
		<div class="mb-6">
			<p class="mb-4 text-xl md:text-2xl">{startPage?.subtitle}</p>
			<h1
				class="mx-auto mb-0 mt-0 w-fit text-balance text-5xl font-bold md:mb-8 md:text-6xl"
				style="word-wrap: break-word;"
			>
				{startPage?.title}
			</h1>
		</div>
		<Slider />
	</section>

	{
		startPage?.blocks &&
			startPage.blocks.map((block) => {
				if (block._type == 'imageBlock') {
					return <ImageBlock block={block} />;
				} else if (block._type == 'textBlock') {
					return <TextBlock block={block} />;
				} else if (block._type == 'centerTextBlock') {
					return <CenterTextBlock block={block} />;
				} else if (block._type == 'puffBlock') {
					return <PuffBlock block={block} />;
				} else if (block._type == 'textImageBlock') {
					return <TextImageBlock block={block} />;
				}
			})
	}

	<FormProvider client:only="react" />
</Layout>
